@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'PT Mono', monospace;
    background-color: aliceblue;
}

#root {
    height: 100vh;
}

.form-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

dialog {
    top: 50%;
    transform: translateY(-100%);
    width: 512px;
    z-index: 99;
    padding: 0;
}

dialog::backdrop {
    background: rgba(107, 114, 128, 0.75);
}

#font-control-box {
    font-size: 20px;
    margin: 16px;
}

#font-control-box > button {
    padding: 8px;
    width: 48px;
    height: 48px;
    margin-left: 12px;
}